
<div class="hero">
  <br />

    <div class="frosty col-10 offset-1 text-center">
      <br />
      <h1>Learn Algebra and Have Fun!</h1>
      <br />
      <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
      <br /><br />
    </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Amazing Lessons</h3>
    <p>Choose from these short lessons to study with terrific teachers</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn at Your Own Pace</h3>
    <p>Enroll to access a large collection of lessons.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Community</h3>
    <p>Learn with a community of budding mathematicians!</p>
  </div>
</div>